{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

    <header>
    <div class="titulo">
        <h1 class="site-title">Sobre o autor</h1>
    </div>
    </header>
    <section class="sobre container" id="sobre">
        <h2>De médico, músico, professor e louco todo mundo tem um pouco...</h2>
        <figure class="avatar">
            <img src="/static/img/eu.jpg" alt="Foto de Júlio">
        </figure>
	  
    	<p>
			Esse é um site teste, criado como parte do curso CS50x de Harvard e da ImersãoCSS da Alura.
			O objetivo é servir como hub para contato e fornecer algumas ferramentas interessantes para acadêmicos e profissionais de saúde.
		</p>
    </section>

    <section class="projetos container" id="projetos">
        <h2>Projetos atuais</h2>
        <div class="grid">
            <div class="flip-card">
            <div class="card">
                <figure class="card-front">
                <img class="img-projetos" src="/static/img/site_is_antigo.png" alt="Imagem da Semana">
                </figure>
                <div class="card-back">
                    <a href="https://site.medicina.ufmg.br/imagemdasemana/">
                    <img class="img-projetos" src="/static/img/logo_is_preto.png" alt="Imagem da Semana">
                    </a>
                </div>
            </div>
            </div>

            <div class="flip-card">
                <div class="card">
                    <figure class="card-front">
                        <img class="img-projetos" src="/static/img/site_is_novo.png" alt="Por dentro da imagem">
                    </figure>
                    <div class="card-back">
                        <a href="https://imagemdasemana.medicina.ufmg.br"><h3>Por dentro da imagem</h3></a>
                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="card">
                    <figure class="card-front">
                        <img class="img-projetos" src="/static/img/elsa.jpg" alt="ELSA-Brasil">
                    </figure>
                    <div class="card-back">
                        <a href="http://www.elsa.org.br/oelsabrasil.html"><h3>ELSA-Brasil Musculoesquelético</h3></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </body>

{% endblock %}
