{% extends "layout.html" %}

{% block title %}
    Ensino
{% endblock %}

{% block main %}

<header>
    <div class="titulo">
        <h1 class="site-title">Ensino</h1>
    </div>
</header>

<body>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/XoGOQyvGPJs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLF1MIjb0d1wPIfmjbe39SoK2cFZDZIeNZ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>

{% endblock %}
