{% extends "layout.html" %}

{% block head %}
<!-- Our Custom CSS -->
<link rel="stylesheet" href="/static/styles.css">
<link rel="stylesheet" href="/static/styles2.css">

<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
{% endblock %}

{% block title %}
    Laudos
{% endblock %}

{% block sidebar %}

    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Laudos</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Selecione o exame</p>
            <li class="active">
                <a href="#rxSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Radiografia</a>
                <ul class="collapse list-unstyled" id="rxSubmenu">
                    <li>
                        <a href="#">Tórax</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Mamografia</a>
            </li>
            <li class="active">
                <a href="#usSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Ultrassonografia</a>
                <ul class="collapse list-unstyled" id="usSubmenu">
                    <li>
                        <a href="/reports/frasesus#usabd">Abdome e pelve</a>
                    </li>
                    <li>
                        <a href="/reports/frasesus#uscervical">Cervical</a>
                    </li>
                    <li>
                        <a href="/reports/frasesus#ustorax">Tórax</a>
                    </li>
                    <li>
                        <a href="/reports/frasesus#usmamas">Mamas e axilas</a>
                    </li>
                    <li>
                        <a href="/reports/frasesus#usmsk">Musculoesquelético</a>
                    </li>
                    <li>
                        <a href="/reports/frasesus#usvasc">Vascular</a>
                    </li>
                    <li>
                        <a href="/reports/frasesus#usint">Intervencionista</a>
                    </li>
                    <li>
                        <a href="/reports/frasesus#usvr">Valores de referência</a>
                    </li>
                    <li>
                        <a href="/reports/frasesus#usmodelos">Modelos de laudos</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#tcSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tomografia Computadorizada</a>
                <ul class="collapse list-unstyled" id="tcSubmenu">
                    <li>
                        <a href="/tools/bankart">Bankart</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#rmSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Ressonância Magnética</a>
                <ul class="collapse list-unstyled" id="rmSubmenu">
                    <li>
                        <a href="/tools/modic">Modic</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

{% endblock %}

{% block main %}



    <!-- Page Content -->
    <div id="content">
        <nav class="navbar2 navbar2-expand-lg navbar2-light bg-light2">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Laudos</span>
                </button>
            </div>
        </nav>

        <header>
            <div class="titulo">
                <h1 class="site-title">Laudos</h1>
                <h2 class="site-subtitle">Em construção</h2>
            </div>
        </header>

        <div>
            {% block bodyReports %}{% endblock %}
        </div>

    </div>

<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // $(".sidebar").mCustomScrollbar({
        //     theme: "minimal"
        // });

        $('#sidebarCollapse').on('click', function () {
            $('.sidebar, .content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>
{% endblock %}
